html, body {
  height: 100%;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.slick-slider.slider-allow-overflow.slick-initialized .slick-list {
  overflow: visible;
}

.slick-slide {
  padding: 10px;
}

.slick-slider .slick-track {
  margin-left: 0;
  margin-right: 0;
}

.slick-slide:not(.slick-active) .slick-item {
  filter: brightness(0.7);
  transition: filter 0.5s ease-in;
} 

.slick-arrow.slick-prev.slick-disabled,
.slick-arrow.slick-next.slick-disabled {
  cursor: default;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.highlight-carrousel .slick-slide:not(.slick-current) {
  filter: brightness(0.5);
  transform: scale(1);
  transition: transform 0.2s ease-in-out, filter 0.2s ease-out;
}

.highlight-carrousel .slick-slide.slick-current {
  transform: scale(1.1);
  filter: brightness(1);
  transition: transform 0.2s ease-in-out, filter 0.2s ease-out;
}

.chakra-ui-dark .highlight-carrousel .slick-slide.slick-current img {
  border: 5px solid var(--chakra-colors-pink-700)
}

.chakra-ui-light .highlight-carrousel .slick-slide.slick-current img {
  border: 5px solid var(--chakra-colors-pink-500)
}
